body {
    background-color: bisque;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .container book {
    background-color: white;
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  .border{
    font-size: 1em;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 0
  }